body {
	background-image: url("space3.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: arial;
}

h1 {
	color: blue;
	border: 2px solid blue;
	margin: auto;
}
               
p {
	background-color: red;
	margin: 2cm;
	border-style: 5cm;
	text-decoration: none;
}

ul {
	list-style-type: none;
	overflow: hidden;
}