.para1 {
	background-image: url("bg.jpeg");
	background-attachment: fixed;
	font-family: arial;
	background-size: cover;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
	margin-bottom: -30px;
	background-position: center;
	height: 100%;
}

h1 {
	color: white;
	border: 2cm semi-solid blue;
	margin: auto;
}

p {
	background-color: red;
	margin: 2cm;
	border: 5cm;
	text-decoration: none;
}

ul {
	list-style-type: none;
	overflow: hide;
}
.note{
	padding-left: 600px;
	padding-top: 200px;
	padding-right: 500px;
	color: white;

}
.box{
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 700px;
}
