body {
	background-image: url("cci.jpg");
	background-attachment: fixed;
	font-family: arial;
	background-color: burlywood;

}
               

a:link {
	background-color: red;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }