body {
	background-image: url("cci.jpg");
	background-attachment: fixed;
	font-family: arial;
}

h1 {
	color: bright;
	border: 2cm semi-solid blue;
	margin: automatic;
}
               
p {
	background-color: red;
	margin: 2cm;
	border-side: 5cm;
	text-decoration: none;
}

ul {
	list-style-type: none;
	overflow: hide;
}
