ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(7, 28, 97);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  
  p{
      text-align: center;
  
  }
  h1{
    text-align: center;
    padding-top: 20%;
  }
  body{
      background-image: url("space1.jpeg");
      background-size: cover;
  }
  