  body {
         background: url("back.jpg") no-repeat center center fixed;
         -webkit-background-size:cover;
         -moz-background-size:cover;
         -moz-background-size: cover;
         background-size: cover;
       }
  