body {
	background-image: url("cci.jpeg");
	background-attachment: fixed;
	font-family: Arial, sans-serif;
}

h1 {
	color: green;
	border: 2px solid red;
	margin: auto;
	
       
}
               
p {
	background-color:yellow ;
	border: 5px dotted red;
	margin: 2cm;
	text-decoration: none;
	
}

ul {
	list-style-type: none;
	overflow: hidden;
}
