h1
{
    color: green;
    text-align: center;
    text-decoration: overline;
    text-transform: capitalize;
    word-spacing: 10px;

}
h2{
    padding-top: 100px;
    text-align: right;
    font-size: 2rem;
    text-decoration: line-through;
    
    

}
p{
    text-align: justify;
    font-size: 2rem;
    text-transform: uppercase;

    /*specify the starting position */
    text-indent: 500px;
}

h3 {
       /* red indicates the */
        text-shadow: 3px 2px red;
        text-align: center;
        font-size: 2rem;
      
}